<footer>
    <div class="container">
        <div class="desc d-flex justify-content-between align-items-start">
            <div class="desc-info">
                <ul class="navbar d-flex">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="../pages/optical.html">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                <a href="tel:0800-000-00" class="tel d-flex align-items-center" target="_blank">
                    <span class="material-symbols-outlined">call</span>
                    <p>0800-000-000</p>
                </a>
                <a href="mailto:glasses@business.com" class="mail d-flex align-items-center" target="_blank">
                    <span class="material-symbols-outlined">mail</span>
                    <p>glasses@business.com</p>
                </a>
            </div>
            <div class="desc-icon">
                <ul class="d-flex">
                    <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-end d-flex justify-content-between">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>