header{
  padding: 25px 0;
  background-color: $color-secondary;
  .logo{
      width: 80px;
      height: 48px;
  }
  .navbar{
      gap: 64px;
      li a{
          display: block;
          color: $color-white;
          font-size: $fz-5;
          padding: 10px;
          &:hover{
              color: #FFFF00;
          }
      }
  }
}
@media (max-width: 992px){
  header .container{
      max-width: 792px;
  }
}
@media (max-width: 676px){
  header{
      padding: 0;
      .container{
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          .logo{
              margin: 16px;
          }
          .navbar{
              width: 100%;
              flex-wrap: wrap;
              gap: 0;
              li{
                  width: 50%;
                  border: 1px solid $color-white;
                  text-align: center;
              }
              li a{
                  padding: 12px 0;
                  font-size: $fz-base;
              }
          }
      }
  }
}

.banner{
  background-image: url(../../../assets/images/home-header-sm.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  .container{
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .banner-text{
          text-align: right;
          p{
              color: $color-primary;
              font-size: $fz-9;
          }
          h1{
              color: $color-primary;
              font-size: $fz-16;
              font-weight: bold;
              margin-bottom: 10px;
          }
          button{
              background-color: $color-secondary;
              font-size: $fz-5;
              color: $color-white;
              padding: 6px 12px;
              cursor: pointer;
          }
      }
  }
}
@media (max-width: 992px){
  .banner{
      background-image: url(../../../assets/images/home-header-sm.png);
      padding: 0 36px;
      height: 787px;
  }
}
@media (max-width: 576px){
  .banner{
      padding: 0 14px;
      height: 396px;
      .container .banner-text{
          p{
              font-size: $fz-base;
          }
          h1{
              font-size: $fz-5;
              margin-bottom: 14px;
          }
      }
  }
}

.service{
  padding: 80px 0;
  background-color: $color-one;
  .container{
      text-align: center;
      h2{
          font-size: $fz-12;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 36px;
      }
      span{
          font-size: 84px;
          color: $color-primary;
          margin-bottom: 24px;
      }
      .voicemail{
          width: 100px;
          height: 45px;
      }
      h3{
          font-size: $fz-6;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 8px;
      }
      p{
          text-align: left;
      }
  }
}
@media (max-width: 576px){
  .service{
      padding: 40px 0;
      .container{
          width: 100%;
          h2{
              font-size: $fz-6;
              margin-bottom: 32px;
          }
          p{
              margin-bottom: 36px;
          }
      }
  }
}

.product-1{
  padding: 80px 0;
  .container{
      h2{
          font-size: $fz-12;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 48px;
          text-align: center;
      }
      .col-4{
          text-align: center;
          img{
              margin-bottom: 8px;
          }
          p{
              font-size: $fz-12;
              color: $color-secondary;
              font-style: italic;
              font-weight: bold;
          }
      }
  }
}
@media (max-width: 992px){
  .product-1{
      .row{
          flex-direction: column;
          align-items: center;
          gap: 24px;
      }
      .col-md-6{
          img{
              max-width: 336px;
          }
      }
  }
}
@media (max-width: 576px){
  .product-1{
      padding: 40px 0;
      .container{
          width: 100%;
          h2{
              font-size: $fz-6;
              margin-bottom: 24px;
          }
      }
  }
}

.product-2{
  padding: 80px 0;
  background-image: url(../../../assets/images/index-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
      h2{
          font-size: $fz-12;
          color: $color-white;
          font-weight: bold;
          margin-bottom: 48px;
          text-align: center;
      }
      .col-6{
          text-align: center;
          background-color: $color-white;
          p{
              font-size: $fz-12;
              color: $color-secondary;
              font-style: italic;
              font-weight: bold;
              padding: 8px 0;
          }
      }
  }
}
@media (max-width: 992px){
  .product-2{
      background-image: url(../../../assets/images/index-bg-sm.png);
      .container{
          .col-6{
              width: 100%;
          }
      }
  }
}
@media (max-width: 576px){
  .product-2{
      padding: 40px 0;
      .container{
          h2{
              font-size: $fz-6;
              margin-bottom: 24px;
          }
      }
  }
}

.customer{
  padding: 80px 0;
  .container{
      h2{
          font-size: $fz-12;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 48px;
          text-align: center;
      }
      .card{
          height: 511px;
          border: 1px solid #DEE2E6;
          box-shadow: 0 2px 6px #00000029;
          flex-direction: column;
          img{
              margin-bottom: 16px;
          }
          h3, p, time{
              margin: 0 16px;
          }
          h3{
              margin-bottom: 8px;
          }
          time{
              margin-top: auto;
              font-size: $fz-14;
              color: #707070;
              margin-bottom: 16px;
          }
      }
  }
}
@media (max-width: 992px){
  .customer{
      padding: 80px 36px;
      .col-md-6{
          margin-bottom: 24px;
      }    
  }
}
@media (max-width: 576px){
  .customer{
      padding: 40px 14px;
      .container{
          h2{
              font-size: $fz-6;
              margin-bottom: 24px;
          }
          .col-sm-12{
              padding: 0;
          }
      }
  }
}

.contact{
  padding: 80px 0;
  background-color: $color-one;
  .container{
      h2{
          font-size: $fz-12;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 48px;
          text-align: center;
      }
      p{
          font-size: $fz-5;
          margin-bottom: 24px;
      }
      .row{
          flex-direction: column;
          margin: 0 auto;
      }
      .info{
          margin: 0 auto;
          label, input, textarea{
              display: block;
              width: 100%;
              padding: 6px 12px;
              background-color: transparent;
              &::placeholder{
                  opacity: 0.8;
                  font-size: $fz-base;
              }
          }
          input ,textarea{
            border: 1px solid #000000;
              margin-bottom: 16px;
          }
      }
      .col-6{
          margin: 0 auto;
      }
      .check{
          margin-bottom: 48px;
          align-items: center;
          gap: 4px;
          input{
              width: 24px;
              height: 24px;
          }
      }
      .submit{
          display: flex;
          button{
              margin: 0 auto;
              background-color: $color-secondary;
              color: $color-white;
              font-size: $fz-base;
              font-weight: bold;
              padding: 16px 176px;
              cursor: pointer;
          }
      }
  }
}
@media (max-width: 992px){
  .contact{
      padding: 80px 96px;
      .container{
          h2{
              margin-bottom: 24px;
          }
          p{
              font-size: $fz-base;
          }
          .row{
              max-width: 576px;
          }
          .submit{
              button{
                  padding: 16px 136px;
              }
          }
      }
  }
}
@media (max-width: 576px){
  .contact{
      padding: 40px 0;
      .container{
          h2{
              font-size: $fz-6;
              margin-bottom: 24px;
          }
          .row{
              max-width: 348px;
          }
          .check{
              align-items: flex-start;
          }
      }
  }
}

footer{
  padding: 48px 0;
  background-color: $color-secondary;
  .desc{
      border-bottom: 1px solid $color-white;
      padding-bottom: 32px;
      margin-bottom: 32px;
      a{
          color: $color-white;
      }
      .navbar{
          gap: 48px;
          margin-bottom: 36px;
          a{
              padding: 10px;
              &:hover{
                  color: #FFFF00;
              }
          }
      }
      .tel{
          gap: 22px;
          span, p{
              font-size: $fz-9;
          }
          &:hover{
              color: #FFFF00;
          }
      }
      .mail{
          gap: 20px;
          span{
              font-size: 40px;
          }
          p{
              font-size: $fz-9;
          }
          &:hover{
              color: #FFFF00;
          }
      }
      .desc-icon{
          ul{
              gap: 32px;
          }
          img{
              width: 48px;
              height: 48px;
          }
      }
  }
  .footer-end{
      p{
          font-size: $fz-base;
          color: $color-white;
      }
      ul{
          gap: 48px;
          a{
              font-size: $fz-14;
              color: $color-white;
              &:hover{
                  color: #FFFF00;
              }
          }
      }
  }
}
@media (max-width: 992px){
  footer{
      .desc{
          .navbar a{
              padding: 3px;
          }
          .desc-icon{
              ul{
                  gap: 16px;
              }
              img{
                  width: 40px;
                  height: 40px;
              }
          }
      }
  }
}
@media (max-width: 676px){
  footer{

      .desc{
          .navbar{
              display: none;
          }
          .tel{
              gap: 22px;
              span{
                  font-size: 18px;
              }
              p{
                  font-size: $fz-base;
              }
          }
          .mail{
              gap: 20px;
              span{
                  font-size: 20px;
              }
              p{
                  font-size: $fz-base;
              }
          }
          .desc-icon{
              img{
                  width: 24px;
                  height: 24px;
              }
          }
      }
      .footer-end{
          flex-direction: column;
          ul{
              display: block;
          }
      }
  }
}