$color-primary: #650300;
$color-secondary: #AA0601;
$color-one: #FBF2F2;
$color-white: #FFFFFF;

$fz-base: 1rem;
$fz-14: calc($fz-base * 0.875);
$fz-5: calc($fz-base * 1.25);
$fz-6: calc($fz-base * 1.5);
$fz-8: calc($fz-base * 2);
$fz-9: calc($fz-base * 2.25);
$fz-12: calc($fz-base * 3);
$fz-16: calc($fz-base * 4);