<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>product</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="optical">
        <div class="container">
          <ul class="optical-link d-flex">
            <li><a href="#" class="optical-link-1">OPTICAL</a></li>
            <li><a href="#">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
          </ul>
        </div>
    </div>
    <ul class="optical-banner d-flex">
        <li>
            <picture>
                <source media="(max-width: 768px)" srcset="../assets/images/product-header-sm-1.png">
                <img src="../assets/images/product-header-1.png" alt="product-header-1">
            </picture>
        </li>
        <li>
            <picture>
                <source media="(max-width: 768px)" srcset="../assets/images/product-header-sm-2.png">
                <img src="../assets/images/product-header-2.png" alt="product-header-2">
            </picture>
        </li>
    </ul>
    <div class="optical-item">
      <div class="container">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="row">
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-1.png" alt="glass1">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-2.png" alt="glass2">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-3.png" alt="glass3">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-4.png" alt="glass4">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-5.png" alt="glass5">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-6.png" alt="glass6">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-1.png" alt="glass1">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-2.png" alt="glass2">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-3.png" alt="glass3">
            <div class="glass-name d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-4.png" alt="glass4">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-5.png" alt="glass5">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-6.png" alt="glass6">
            <div class="glass-name d-flex justify-content-between">
              <p class="item-name">BJ41600S</p>
              <p class="item-price">NTD3,490</p>
            </div>
            <div class="color-block d-flex">
              <div class="box1"></div>
              <div class="box2"></div>
            </div>
          </li>
        </ul>
        <ul class="item-page d-flex justify-content-center">
          <li class="pre-page"><a href="#">上一頁</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="next-page"><a href="#">下一頁</a></li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>